# Prova SQL Módulo 2

In [1]:
import sqlite3

# Criar 'escola.db'

In [2]:
nome = 'escola.db'

# Criar tabela 'alunos' -> Seguindo o diagrama

In [3]:
script_alunos = """CREATE TABLE IF NOT EXISTS Alunos (
                id INTEGER PRIMARY KEY AUTOINCREMENT,
                nome TEXT NOT NULL,
                idade INTEGER NOT NULL,
                email TEXT NOT NULL
            );"""
            

try:
    with sqlite3.connect(nome) as conn:
        # Cria um cursor
        cur = conn.cursor()

        # Executa o script
        cur.execute(script_alunos)

        # Salva as alterações no banco de dados
        conn.commit()

        print("Tabelas Criadas com Sucesso")
except sqlite3.OperationalError as e:
    print("ERRO: ", e)

Tabelas Criadas com Sucesso

# Inserir registros na tabela alunos

In [8]:
sql = "INSERT INTO Alunos (nome, idade, email) VALUES (?,?,?)"

try:
    with sqlite3.connect(nome) as conn:
            
        # Cria um cursor
        cur = conn.cursor()

        # Executa o script
        cur.execute(sql, ('Enzo', 16, 'enzoalves@email.com'))

        # Salva as alterações no banco de dados
        conn.commit()
        


except sqlite3.OperationalError as e:
    print("ERRO: ", e)

# Listar todos

In [9]:
sql = "SELECT * FROM Alunos"


try:
    with sqlite3.connect(nome) as conn:
        # Cria um cursor
        cur = conn.cursor()
        

        # Executa o script
        cur.execute(sql)
        res = cur.fetchall() # retorna uma lista de listas

        print(res)
except sqlite3.OperationalError as e:
    print("ERRO: ", e)

[(1, 'Ryan', 17, 'ryanbatista@email.com'), (2, 'Enzo', 16, 'enzoalves@email.com')]

# Buscar por id

# Atualizar registros

In [6]:
sql = "UPDATE Alunos SET idade = ? WHERE id = ?"

try:
    with sqlite3.connect(nome) as conn:
            
        # Cria um cursor
        cur = conn.cursor()

        # Executa o script
        cur.execute(sql, (17, 2))

        # Salva as alterações no banco de dados
        conn.commit()


except sqlite3.OperationalError as e:
    print("ERRO: ", e)

# Deletar registros

In [7]:
sql = "DELETE FROM Alunos WHERE id = ?"

try:
    with sqlite3.connect(nome) as conn:
            
        # Cria um cursor
        cur = conn.cursor()

        # Executa o script
        cur.execute(sql, (4,))

        # Salva as alterações no banco de dados
        conn.commit()
        


except sqlite3.OperationalError as e:
    print("ERRO: ", e)